/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
 -fx-font-size:16.0pt; 
 -fx-font-family:KaiTi; 
 -fx-base:#0a0a0a; 
} 
  

.pagination .pagination-control{
visibility: hidden;
}
.bar-main{
	-fx-background-color: #4169E1; -fx-pref-height: 70.0; -fx-padding: 10.0;-fx-spacing:1.0;
}
.bar-sub{
	-fx-background-color: #4169E1; -fx-pref-height: 50.0; -fx-padding: 8.0;-fx-spacing:1.0;
}
.bar-dialog{
	-fx-background-color:  #4169E1; -fx-pref-height: 30.0; -fx-padding: 6.0;-fx-spacing:1.0;
}
.bar-confirm-dialog{
	-fx-background-color:  #4169E1; -fx-pref-height: 25.0; -fx-padding: 5.0;-fx-spacing:1.0;
}
.frame-pane{
	-fx-background-radius: 10.0; -fx-background-color: #ffffff;-fx-border-radius:10.0;
}
.btn-level-vip{
	-fx-background-color: #FFA500;-fx-text-fill: white;-fx-padding:12.0;-fx-font-weight:bold;-fx-font-size:14.0;
}
.btn-level-normal{
	-fx-background-color: #4169E1;-fx-text-fill: white;-fx-padding:12.0;-fx-font-weight:bold;-fx-font-size:14.0;
}

.custom-jfx-check-box{
   -jfx-checked-color: #FFA500;  
   -jfx-unchecked-color: BLACK;
   -fx-text-fill: #000; -fx-font-size: 14.0; -fx-wrap-text:true 
}

.label-leve-normal{
	-fx-text-fill: #000; -fx-font-size: 14.0; -fx-wrap-text:true 
}

.custom-text-area{
	-fx-text-fill: #000; -fx-border-color:#fafafa;-fx-border-width:2.0;-fx-border-style:solid;
	-fx-font-size: 14.0; -fx-padding:4.0;-jfx-focus-color:#FFA500;-jfx-unfocus-color:#fafafa00;
	-jfx-label-float:true;-fx-pref-column-count:10;
}

.list-cell{
    -fx-font-family: Arial;
    
}
.list-cell:even {
    -fx-background-color: white;
}
.list-cell:odd {
    -fx-background-color: white;
}
.list-cell:selected {
    -fx-background-color: #919191;
    -fx-text-fill: white;
}
.list-cell:empty {
    -fx-background-color: white;
}

/*******************************************************************************
*                                                                              *
* JFX Spinner                                                                  *
*                                                                              *
*******************************************************************************/
.first-spinner .arc {
    -fx-stroke-width: 3.0;-fx-stroke:#ffffff;
}
.second-spinner .arc {
  -fx-stroke-width: 3.0;-fx-stroke: #ffffff;
}
.third-spinner .arc {
    -fx-stroke-width: 3.0;-fx-stroke: #ffffff;
}

.table-view {
 -fx-background-color:#fff;
} 
 
 /**
 * 表头背景颜色变化
 */
.table-column .label{
    -fx-background-color: #fff;
    -fx-text-fill: #000 ;
    -fx-text-alignment: center ;
     -fx-font-size: 14.0;
}
.table-column{
    -fx-padding:0.0;
}
.table-view .filler{
     -fx-background-color: white;    
}
 .table-view .table-cell {
	 -fx-text-fill:#000; 
        -fx-font-size:14.0
} 
 .table-view .table-row-cell {
    -fx-background-insets: 0.0;
}
.table-view .table-row-cell .table-cell {
    -fx-border-width: 0.0px;
}
 .table-row-cell {
	 -fx-background-color:-fx-table-cell-border-color,#f1f1f1; 
	 -fx-padding:0.0em;
} 
 .table-row-cell:odd {
 -fx-background-color:-fx-table-cell-border-color,#fff; 
 -fx-padding:0.0em; 
} 
 .table-view > .virtual-flow >.scroll-bar:horizontal{
    -fx-background-color: #f1f1f1;
    -fx-background-radius: 5.0;
    -fx-pref-height: 15.0
}
 .table-view > .virtual-flow >.scroll-bar:horizontal .track{
    -fx-background-color: #f1f1f1;
}
 .table-view > .virtual-flow >:horizontal .thumb{
    -fx-background-color: #4169E1;
}
 .table-view > .virtual-flow >.scroll-bar:vertical{
    -fx-background-color: #f1f1f1;
    -fx-background-radius: 5.0;
    -fx-pref-width: 15.0
}
 .table-view > .virtual-flow >.scroll-bar:vertical .track{
    -fx-background-color: #f1f1f1;
}
 .table-view > .virtual-flow >:vertical .thumb{
    -fx-background-color: #4169E1;
}
.table-row-cell:selected {
    -fx-background-color: #87CEEB;
    -fx-background-insets: 0.0;
    -fx-background-radius: 1.0;
}

