/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
 -fx-font-size:16.0pt; 
 -fx-font-family:"Microsoft YaHei"; 
 -fx-base:#0a0a0a; 
} 
  

.pagination .pagination-control{
visibility: hidden;
}
.bar-main{
	-fx-background-color: #608DFA; -fx-pref-height: 70.0; -fx-padding: 10.0;-fx-spacing:1.0;
}
.bar-sub{
	-fx-background-color: #608DFA; -fx-pref-height: 50.0; -fx-padding: 8.0;-fx-spacing:1.0;
}
.bar-dialog{
	-fx-background-color:  #608DFA; -fx-pref-height: 30.0; -fx-padding: 6.0;-fx-spacing:1.0;
}
.bar-confirm-dialog{
	-fx-background-color:  #608DFA; -fx-pref-height: 25.0; -fx-padding: 5.0;-fx-spacing:1.0;
}
.bar-notice-dialog{
	-fx-background-color:  #608DFA; -fx-pref-height: 25.0; -fx-padding: 5.0;-fx-spacing:1.0;
}
.frame-pane{
	-fx-background-radius: 10.0; -fx-background-color: #ffffff;-fx-border-radius:10.0;
}
.btn-level-vip{
	-fx-background-color: #FFA500;-fx-text-fill: white;-fx-padding:10.0;-fx-font-weight:bold;-fx-font-size:14.0;
}
.btn-level-normal{
	-fx-background-color: #608DFA;-fx-text-fill: white;-fx-padding:10.0;-fx-font-weight:bold;-fx-font-size:14.0;
}
.btn-level-projects{
	-fx-background-color: #608DFA;-fx-text-fill: white;-fx-padding:10.0;-fx-font-weight:bold;-fx-font-size:16.0;
}

.custom-jfx-check-box{
   -jfx-checked-color: #FFA500;  
   -jfx-unchecked-color: #608DFA;
   -fx-text-fill: #000; -fx-font-size: 14.0; -fx-wrap-text:true 
}

.label-leve-normal{
	-fx-text-fill: #000; -fx-font-size: 14.0; -fx-wrap-text:true 
}

.custom-text-field{
	-fx-text-fill: #000; -fx-border-color:#fafafa;-fx-border-width:2.0;-fx-border-style:solid;
	-fx-font-size: 14.0; -fx-padding:2.0;-jfx-focus-color:#FFA500;-jfx-unfocus-color:#fafafa00;
}

.text-area .scroll-bar:vertical {
	-fx-pref-width: 1.0;
    -fx-opacity: 0.0;
}
/*******************************************************************************
*                                                                              *
* JFX Spinner                                                                  *
*                                                                              *
*******************************************************************************/
.first-spinner .arc {
    -fx-stroke-width: 3.0;-fx-stroke:#ffffff;
}
.second-spinner .arc {
  -fx-stroke-width: 3.0;-fx-stroke: #ffffff;
}
.third-spinner .arc {
    -fx-stroke-width: 3.0;-fx-stroke: #ffffff;
}

.table-view {
 -fx-background-color:#fff;
} 
 
 /**
 * 表头背景颜色变化
 */
.table-column .label{
    -fx-background-color: #fff;
    -fx-text-fill: #000 ;
    -fx-text-alignment: center ;
     -fx-font-size: 14.0;
}
.table-column{
    -fx-padding:0.0;
}
.table-view .filler{
     -fx-background-color: white;    
}
 .table-view .table-cell {
	 -fx-text-fill:#000; 
        -fx-font-size:14.0
} 
 .table-view .table-row-cell {
    -fx-background-insets: 0.0;
}
.table-view .table-row-cell .table-cell {
    -fx-border-width: 0.0px;
}
 .table-row-cell {
	 -fx-background-color:-fx-table-cell-border-color,#f1f1f1; 
	 -fx-padding:0.0em;
} 
 .table-row-cell:odd {
 -fx-background-color:-fx-table-cell-border-color,#fff; 
 -fx-padding:0.0em; 
} 
 .table-view > .virtual-flow >.scroll-bar:horizontal{
    -fx-background-color: #f1f1f1;
    -fx-background-radius: 5.0;
    -fx-pref-height: 15.0
}
 .table-view > .virtual-flow >.scroll-bar:horizontal .track{
    -fx-background-color: #f1f1f1;
}
 .table-view > .virtual-flow >:horizontal .thumb{
    -fx-background-color: #608DFA;
}
 .table-view > .virtual-flow >.scroll-bar:vertical{
    -fx-background-color: #f1f1f1;
    -fx-background-radius: 5.0;
    -fx-pref-width: 15.0
}
 .table-view > .virtual-flow >.scroll-bar:vertical .track{
    -fx-background-color: #f1f1f1;
}
 .table-view > .virtual-flow >:vertical .thumb{
    -fx-background-color: #608DFA;
}
.table-row-cell:selected {
    -fx-background-color: #87CEEB;
    -fx-background-insets: 0.0;
    -fx-background-radius: 1.0;
}

.label-detailInfo
{
	-fx-text-fill: black;
	-fx-background-color: #E6E6E6;
	-fx-font-size:13.0pt; 
}

.currentproject
{
	-fx-text-fill: black;
	-fx-font-size:13.0px; 
}

.text-area{
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
    -fx-font-size: 13px;
}
.text-area .content {
    -fx-background-color: transparent, white, transparent, white;
}
.text-area:focused {
    -fx-background-color: transparent, white, transparent, white;
}


/* 修改TabPane的Pane区域背景颜色 */
.jfx-tab-pane {
    -fx-background-color: white;
}

/* 修改顶栏的背景颜色 */
.jfx-tab-pane *.tab-header-area *.tab-header-background
{
    -fx-background-color: -fx-outer-border, -fx-text-box-border, #333333;
}

/* 修改Tab的背景颜色 */
.tab {
    -fx-background-color: #333333;
   
}
/* tab选中时设置背景颜色 */
.tab:selected {
    -fx-background-color: #990000;
}

/* Tab选中的时候选中其边框并修改样式 */
.jfx-tab-pane:focused >.tab-header-area >.headers-region >.tab:selected >.focus-indicator {
    -fx-border-radius: 0px;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-color: white;
}

.list-cell:even {
    -fx-background-color: white;
}
.list-cell:odd {
    -fx-background-color: white;
}
.list-cell:selected {
    -fx-background-color: #608DFA;
}

.list-cell *.button{
	-fx-text-fill:black;
	-fx-font-size: 16px;
}

.list-cell *.label{
	-fx-font-size: 18px;
}

.list-cell:empty {
    -fx-background-color: white;
}



