/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.pagination .pagination-control{
visibility: hidden;
}
.bar-main{
	-fx-background-color: #4169E1; -fx-pref-height: 70.0; -fx-padding: 10.0;-fx-spacing:5.0;
}
.bar-sub{
	-fx-background-color: #4169E1; -fx-pref-height: 70.0; -fx-padding: 10.0;-fx-spacing:5.0;
}
.bar-dialog{
	-fx-background-color:  #4169E1; -fx-pref-height: 30.0; -fx-padding: 10.0;-fx-spacing:5.0;
}
.frame-pane{
	-fx-background-radius: 10.0; -fx-background-color: #ffaa1a;-fx-border-radius:10.0;
}
.btn-level-vip{
	-fx-background-color: #FFA500;-fx-text-fill: white;-fx-padding:12.0;-fx-font-weight:bold;-fx-font-size:14.0;
}
.btn-level-normal{
	-fx-background-color: #4169E1;-fx-text-fill: white;-fx-padding:12.0;-fx-font-weight:bold;-fx-font-size:14.0;
}

.list-cell{
    -fx-font-family: Arial;
    
}
.list-cell:even {
    -fx-background-color: white;
}
.list-cell:odd {
    -fx-background-color: white;
}
.list-cell:selected {
    -fx-background-color: #919191;
    -fx-text-fill: white;
}
.list-cell:empty {
    -fx-background-color: white;
}

/*******************************************************************************
*                                                                              *
* JFX Spinner                                                                  *
*                                                                              *
*******************************************************************************/
.first-spinner .arc {
    -fx-stroke-width: 3.0;-fx-stroke:#ffffff;
}
.second-spinner .arc {
  -fx-stroke-width: 3.0;-fx-stroke: #ffffff;
}
.third-spinner .arc {
    -fx-stroke-width: 3.0;-fx-stroke: #ffffff;
}